#section0 {
  background-image: url('https://i.imgur.com/UnUC5Nz.jpg');
  background-position: center;
  background-repeat: no-repeat;
}
#section1 {
  background-color: #e2dccf;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.active .splashImage {
  animation-duration: 2s;
  animation-name: fadeIn;
}
/* img#sitterPicture {
    height: 15%;
    width: 25%;
} */
textarea#formControlsTextarea {
  width: 53%;
  height: 6%;
  border: solid 2px;
  margin: 3px;
}

table.table.table-striped.table-bordered.table-condensed.table-hover {
  width: 95%;
  border: solid 2px;
  margin: auto;
}
th {
  width: 30%;
}

select#formControlsSelect {
  width: 25%;
}

div#full-list {
  margin: 10px;
  width: 85%;
}

input#instructions {
  width: 25%;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  border-color: red;
}

body {
  overflow-x: hidden;
}

.review {
  background-color: white;
  width: 100%;
  height: 328px;
}

.review-stars {
  position: relative;
  left: 10%;
}

.review-title {
  position: relative;
  left: 5%;
}

.review-buttons {
  position: relative;
  left: 3%;
  height: 20%;
  width: 100%;
}

.review-text {
  position: relative;
  top: 10px;
  width: 91%;
  left: 3%;
}

button#review-button-submit {
  top: 40px;
  width: 31%;
  left: 30%;
  position: relative;
}
.sitterJoin .row {
  display: flex;
  justify-content: center;
}

.signup .row {
  display: flex;
  justify-content: center;
}

.sitterJoinSchedule select {
  display: inline;
}

#top-tabs .modal-container {
  position: relative;
}
#top-tabs .modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute;
}

.fade.thanks-for-paying.in.modal {
  width: 100%;
  height: 100%;
  /* background-color: cadetblue; */
}

div#thanks-for-paying {
  width: 100%;
  height: 100%;
}

input,
.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: 'Source Code Pro', monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}
img#running-cash {
  position: absolute;
  top: 86%;
  left: 500px;
  z-index: 10;

  animation-duration: 4s;
  animation-name: goLeft;
  animation-iteration-count: infinite;
}

@keyframes goLeft {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-1920px, 0);
  }
}

img#sitterPic {
  height: 45%;
}

#body {
  background-image: linear-gradient(#e2dccf, #FFF);
  color: #7A5300;
}

.nav {
  background-color: #ccc0a9;
  border-color: #FFE4A8;
  color: #7A5300;
}

.nav-stacked > li {
  float: none;
  background-color: #ccc0a9;
  border-color: #FFE4A8;
}

#nav-pills>li.active>a {
  color: #7A5300;
  background-color: #FFE4A8;
}

#nav-pills>li>a:hover {
  text-decoration: none;
  background-color: #c0b49e;
}

#nav-pills>li>a {
  color: #fff;
  text-decoration: none;
}

div>.well {
  background-color: #ffdd93;
  border: 4px double;
}

#button {
  color: #fff;
  background-color: #ccc0a9;
  border-color: #FFE4A8;
}

#button:hover{
  background-color: #c0b49e;
  border-color: #FFE4A8;
}

.btn>btn-default:active{
  background-color: #FFE4A8;
  color: #7A5300;
}

#title {
  font-family: 'Cedarville Cursive', cursive;
}

.rdtPicker {
  background-color: #e2dccf
}