#section0 {
  background-image: url('https://i.imgur.com/UnUC5Nz.jpg');
  background-position: center;
  background-repeat: no-repeat;
}
#section1 {
  background-color: #9bedff;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.active img {
  animation-duration: 2s;
  animation-name: fadeIn;
}
/* img#sitterPicture {
    height: 15%;
    width: 25%;
} */
textarea#formControlsTextarea {
  width: 53%;
  height: 6%;
  border: solid 2px;
  margin: 3px;
}

table.table.table-striped.table-bordered.table-condensed.table-hover {
  width: 95%;
  border: solid 2px;
  margin: auto;
}
th {
  width: 30%;
}

select#formControlsSelect {
  width: 25%;
}

div#full-list {
  margin: 10px;
  width: 85%;
}

input#instructions {
  width: 25%;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  border-color: red;
}

body {
  overflow-x: hidden;
}

.sitterJoin .row {
  display: flex;
  justify-content: center;
}

.sitterJoinSchedule select {
  display: inline;
}

#top-tabs .modal-container {
  position: relative;
}
#top-tabs .modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute;
}
